{% extends 'base.html' %}
{% block title %}
    Services
{% endblock title %}

{% block body %}
<div class="container-fluid my-5 aboutCard">
    <div class="row row-cols-1 row-cols-md-4 g-4 ">
        <div class="col">
          <div class="card">
            <img src="/static/img/03xvQQX5euoq30C7pYTGlPZ-2..v1631145621.jpg" class="card-img-top" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">24/7 Service</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/img/AdobeStock_252785282-900x450.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Easy Handling</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/img/istockphoto-1312766253-170667a.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Access Anytime, Anywhere</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/img/five-5-trends-in-telecom-sector-for-2022.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Free of Cost</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock body %}